<ActionBar>
    <Label text="Visited Locations"></Label>
</ActionBar>

<GridLayout (swipe)="changePage($event)">
    <ListView [items]="visitations" (swipe)="changePage($event)">
        <StackLayout *ngFor="let visitation of visitations" (swipe)="changePage($event)">
            <Label [nsRouterLink]="['../item', visitation.id]"
            [text]="getVisitedLocationName(visitation) + ', ' +
            getVisitedLocationAddress(visitation) + ' (' + (visitation.enterTime | date)+')'" (swipe)="changePage($event)"></Label>
        </StackLayout>
    </ListView>
</GridLayout>
