/* You can add global styles to this file, and also import other style files */
$primary: #78d5ff;

html, body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: $primary;
    width: auto;
    border: none;
    border-radius: 4px;
    height: 25px;
    color: white;
    border: 1px solid $primary;

    &:hover {
        background-color: white;
        color: $primary;
    }
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #ddd;

    &:hover, &:focus {
        border-bottom: 2px solid $primary;
        outline: none;
    }
}

div {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}
